In [1]:
import pandas as pd
import pipeline

train_values = pd.read_csv('./data/train_values.csv') 
train_labels = pd.read_csv('./data/train_labels.csv') 

df = train_values.merge(train_labels, on='row_id', how='inner')
df.head()

,row_id,loan_type,property_type,loan_purpose,occupancy,loan_amount,preapproval,msa_md,state_code,county_code,...,applicant_income,population,minority_population_pct,ffiecmedian_family_income,tract_to_msa_md_income_pct,number_of_owner-occupied_units,number_of_1_to_4_family_units,lender,co_applicant,accepted
0,0,3,1,1,1,70.0,3,18,37,246,...,24.0,6203.0,44.230,60588.0,50.933,716.0,2642.0,4536,False,1
1,1,1,1,3,1,178.0,3,369,52,299,...,57.0,5774.0,15.905,54821.0,100.000,1622.0,2108.0,2458,False,0
2,2,2,1,3,1,163.0,3,16,10,306,...,67.0,6094.0,61.270,67719.0,100.000,760.0,1048.0,5710,False,1
3,3,1,1,1,1,155.0,1,305,47,180,...,105.0,6667.0,6.246,78439.0,100.000,2025.0,2299.0,5888,True,1
4,4,1,1,1,1,305.0,3,24,37,20,...,71.0,6732.0,100.000,63075.0,82.200,1464.0,1847.0,289,False,1

In [5]:


subset_df = pipeline.transform_df_for_ML(df)
subset_df

,property_type_str,loan_purpose_str,preapproval_str,applicant_ethnicity_str,applicant_sex_str,minority_population_pct,tract_to_msa_md_income_pct,loan_amount,applicant_income,co_applicant,msa_md,ffiecmedian_family_income
0,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,44.230,50.933,-0.531792,-0.714286,0,18,-0.444174
1,1 to 4 Family - non manufactured,Refinancing,None,Hispanic,Male,15.905,100.000,0.092486,-0.242857,0,369,-0.813380
2,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,61.270,100.000,0.005780,-0.100000,0,16,0.012356
3,1 to 4 Family - non manufactured,Home purchase,Requested,Not Hispanic,Male,6.246,100.000,-0.040462,0.442857,1,305,0.698656
4,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Female,100.000,82.200,0.826590,-0.042857,0,24,-0.284955
5,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Female,4.821,96.550,-0.167630,-0.328571,0,221,0.974328
6,1 to 4 Family - non manufactured,Home purchase,None,Hispanic,Female,26.427,81.068,0.450867,0.428571,0,374,-0.143662
7,1 to 4 Family - non manufactured,Home purchase,None,Hispanic,Male,78.153,59.439,0.277457,-0.271429,1,322,2.613764
8,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,88.156,62.813,0.271676,2.428571,1,24,-0.263252
9,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,24.893,100.000,0.202312,0.171429,0,194,-0.102369
10,1 to 4 Family - non manufactured,Home purchase,None,None,None,39.082,100.000,0.907514,0.057143,0,358,2.702753
11,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,6.922,100.000,0.144509,-0.157143,0,154,0.382650
12,1 to 4 Family - non manufactured,Refinancing,None,Hispanic,Female,41.404,100.000,-0.138728,NaN,0,61,-0.476633
13,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,37.949,87.937,0.450867,0.228571,0,141,0.566133
14,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,3.916,100.000,-0.063584,1.400000,1,281,-0.253905
15,1 to 4 Family - non manufactured,Refinancing,None,None,None,63.554,82.998,0.265896,-0.300000,0,101,0.111332
16,1 to 4 Family - non manufactured,Refinancing,None,Hispanic,Female,29.818,100.000,0.086705,NaN,0,333,0.034507
17,Manufactured Housing,Refinancing,None,Not Hispanic,Male,14.996,74.411,-0.138728,NaN,1,-1,-0.624328
18,1 to 4 Family - non manufactured,Home purchase,Requested,Not Hispanic,Male,8.760,100.000,0.190751,0.528571,1,214,-0.063572
19,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,36.347,92.747,-0.416185,-0.157143,1,101,0.145262
20,1 to 4 Family - non manufactured,Refinancing,None,Hispanic,Female,96.448,72.441,-0.294798,-0.471429,1,278,-1.080090
21,1 to 4 Family - non manufactured,Home purchase,Not Requested,Hispanic,Male,68.823,100.000,0.173410,-0.071429,1,197,-1.211396
22,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Female,NaN,NaN,-0.820809,-0.900000,0,109,NaN
23,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,12.486,100.000,3.479769,2.042857,1,206,2.370294
24,1 to 4 Family - non manufactured,Home purchase,Not Requested,Not Hispanic,Male,31.068,100.000,2.543353,0.157143,1,389,1.131626
25,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Female,16.489,100.000,0.751445,0.357143,0,333,0.206082
26,1 to 4 Family - non manufactured,Home purchase,Requested,Not Hispanic,Female,NaN,NaN,-0.283237,-0.285714,0,-1,NaN
27,1 to 4 Family - non manufactured,Home improvement,None,Not Hispanic,Male,2.693,100.000,-0.849711,-0.300000,1,254,-0.302881
28,1 to 4 Family - non manufactured,Home improvement,None,Not Hispanic,Female,7.898,96.479,-0.502890,-0.314286,0,175,-0.653073
29,1 to 4 Family - non manufactured,Home purchase,Not Requested,Hispanic,Male,93.204,62.557,1.190751,0.014286,0,24,-0.332010
...,...,...,...,...,...,...,...,...,...,...,...,...
499970,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,58.914,100.000,0.768786,NaN,1,371,0.477209
499971,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,18.839,100.000,-0.739884,0.057143,1,287,0.414341
499972,1 to 4 Family - non manufactured,Home improvement,None,Not Hispanic,Male,94.824,57.455,-0.693642,-0.771429,0,246,-0.216837
499973,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Female,35.680,100.000,0.930636,-0.371429,0,356,-0.867926
499974,1 to 4 Family - non manufactured,Home purchase,Not Requested,None,None,35.779,100.000,1.179191,-0.342857,0,141,0.718118
499975,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,12.106,100.000,0.109827,NaN,1,382,0.009859
499976,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,8.471,100.000,0.462428,-0.071429,1,281,-0.341613
499977,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Female,24.059,100.000,-0.635838,0.171429,0,120,-0.480026
499978,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,2.910,100.000,0.057803,-0.285714,0,-1,-0.390333
499979,1 to 4 Family - non manufactured,Refinancing,None,Hispanic,Male,70.859,100.000,-0.080925,NaN,0,278,-1.104802
499980,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,38.107,94.810,0.283237,0.028571,1,374,-0.112932
499981,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,7.183,100.000,-0.161850,-0.028571,1,284,-0.661844
499982,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,30.918,85.171,-0.416185,-0.500000,0,157,-0.830986
499983,1 to 4 Family - non manufactured,Home purchase,Not Requested,Not Hispanic,Male,20.892,69.377,0.248555,1.285714,0,221,0.807170
499984,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Female,44.802,100.000,0.184971,-0.585714,0,370,-0.428937
499985,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,14.957,88.586,0.225434,-0.200000,0,10,1.470935
499986,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,16.397,100.000,0.768786,0.385714,0,114,0.090973
499987,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Female,19.892,100.000,0.052023,-0.014286,0,61,-0.474584
499988,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,11.097,100.000,-0.104046,0.042857,0,16,-0.196415
499989,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Male,40.355,100.000,2.705202,1.828571,1,395,1.458131
499990,1 to 4 Family - non manufactured,Refinancing,None,Hispanic,Male,85.037,100.000,0.161850,0.071429,0,18,-0.408771
499991,1 to 4 Family - non manufactured,Home purchase,Requested,None,None,23.668,86.953,-0.063584,-0.671429,0,72,-0.543854
499992,1 to 4 Family - non manufactured,Home purchase,Not Requested,Not Hispanic,Male,10.196,100.000,0.855491,0.914286,0,156,0.403009
499993,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Female,5.584,100.000,0.219653,0.757143,1,199,-0.152817
499994,1 to 4 Family - non manufactured,Home improvement,None,Not Hispanic,Female,13.789,100.000,-0.757225,1.042857,0,-1,-0.606722
499995,1 to 4 Family - non manufactured,Home purchase,Requested,Not Hispanic,Male,NaN,NaN,-0.069364,0.185714,1,-1,NaN
499996,1 to 4 Family - non manufactured,Home purchase,None,Not Hispanic,Male,6.887,100.000,-0.127168,2.028571,1,74,1.202369
499997,Manufactured Housing,Home purchase,None,None,Male,36.046,100.000,-0.809249,-0.557143,0,-1,-1.261204
499998,1 to 4 Family - non manufactured,Home improvement,None,Hispanic,Male,98.879,62.803,-0.734104,-0.471429,0,367,-0.460883
499999,1 to 4 Family - non manufactured,Refinancing,None,Not Hispanic,Female,12.095,100.000,-0.526012,0.157143,1,408,-1.440013

In [3]:
# scale the numeric columns 

from sklearn.preprocessing import RobustScaler

# float columns to consider
numeric_cols =[ 'loan_amount', 'applicant_income', 'population', 'ffiecmedian_family_income',
               'number_of_owner-occupied_units', 'number_of_1_to_4_family_units']


# use robust scaler for outlier numerics
for col in numeric_cols:
 #   utilities.minMax_normalize_df_col(df, col)
    col_copy = df[[ col ]].copy()
    transformer = RobustScaler().fit( col_copy  )
    df[ col ] = transformer.transform( col_copy )

df [ numeric_cols ].head(5)

,loan_amount,applicant_income,population,ffiecmedian_family_income,number_of_owner-occupied_units,number_of_1_to_4_family_units
0,-0.531792,-0.714286,0.450973,-0.444174,-0.730861,0.881944
1,0.092486,-0.242857,0.293426,-0.813380,0.352871,0.352183
2,0.005780,-0.100000,0.410944,0.012356,-0.678230,-0.699405
3,-0.040462,0.442857,0.621373,0.698656,0.834928,0.541667
4,0.826590,-0.042857,0.645244,-0.284955,0.163876,0.093254

In [4]:
# category encoding 
import category_encoders as ce

#property_type_str  , loan_purpose_str  , preapproval_str  , applicant_race_str  , applicant_sex_str  

#drop_cols = [ 'occupancy_str', 'preapproval_str', 'applicant_ethnicity',
#                     'applicant_race', 'applicant_sex', 'county_code','occupancy']

drop_cols = [ 'loan_type_str', 'occupancy_str', 'applicant_ethnicity_str', 'msa_md_str', 'state_code_str', 'county_code_str' ]

df_clean = df.drop(columns=drop_cols)
df_clean.head(5)

ohe = ce.OneHotEncoder(handle_unknown='ignore', use_cat_names=True)
df = ohe.fit_transform(df_clean)
df.head()

KeyError: "['msa_md_str' 'state_code_str' 'county_code_str'] not found in axis"

In [ ]:
# export
#df_clean = df.drop(columns=drop_cols)
df.to_csv('./export/feature_engineered.csv', index=False)

df.head(5)